@model HealtyEats.Models.FavoriteRecipeDetail

@{
    ViewBag.Title = "Details";
}
<div class="FavoriteDetailsHeader">
    <h2>Details of your Favorite List</h2>
</div>

<div>
   
    <hr />
    <dl class="dl-horizontal FavoriteHeader">
        @Html.HiddenFor(model => model.FavoriteRecipeID)

        <dt>
            @Html.DisplayNameFor(model => model.RecipeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecipeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FavoriteList)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FavoriteList)
        </dd>

    </dl>
</div>
<div id="BackToList"> 
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FavoriteRecipeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
   </div>
