@model HealtyEats.Models.FavoriteRecipeEdit

@{
    ViewBag.Title = "Edit";
}

<div class ="favoriteRecipeEdit">
    <h1>Edit your Favorite Recipe</h1>
</div>

<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.FavoriteRecipeID)

    <div class="form-group FavoriteList">
        @Html.LabelFor(model => model.FavoriteList, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10 ">
            @Html.EditorFor(model => model.FavoriteList, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FavoriteList, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group RecipeID">
        @Html.LabelFor(model => model.RecipeID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RecipeID, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RecipeID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div id="BackToList">
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
