@model IEnumerable<HealtyEats.WebMVC.Models.FavoriteRecipeListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FavoriteList)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.RecipeTitle)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FavoriteList)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.RecipeTitle)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.FavoriteRecipeID }) |
            @Html.ActionLink("Details", "Details", new { id = item.FavoriteRecipeID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.FavoriteRecipeID })
        </td>
    </tr>
}

</table>
