    `@model HealtyEats.Models.MealCreate

@{
    ViewBag.Title = "Create";
}




@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal create">
    <h2>Create your meal</h2>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })



    <div class="form-group mealName">
        @Html.LabelFor(model => model.MealName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EnumDropDownListFor(model => model.MealName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MealName, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group mealDescription">
        @Html.LabelFor(model => model.MealDescription, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MealDescription, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MealDescription, "", new { @class = "text-danger" })
        </div>
    </div>
   <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default createButton" />
        </div>

    </div>
    <div class="container col-md-4 createCover">
        <h2>Ideas for Healthy Recipes</h2>
        <p>

            Ok, I know this is supposed to "Healthy" Recipes, but like I said before, you can totally have cheesecake or brownies in your healthy meal plan. And if you like, you can make
            extremely yummy brownie bites or cakes, that have no dairy/eggs/refined sugar. But, if you choose to do the traditional route, that IS FINE TOO! So, I am just going to throw these at you.
            Well, not "throw", because we have not invented the ability to throw stuff at humans via a website yet. Again, something you could totally invent with all the amazing time you will be saving
            when you Meal Prep and Meal Track! I swear, I crack myself up!
        </p>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
