@model HealtyEats.Models.MealDetail

@{
    ViewBag.Title = "Details";
}


<div class="DetailsHeader">
    <h2>Details of your meal, my dear</h2>
</div>


<div>
    <dl class="dl-horizontal Header">
        <dt>
            @Html.DisplayNameFor(model => model.MealName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MealName)
            <hr />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MealDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MealDescription)
            <hr />
        </dd>
    </dl>
</div>
<div id="BackToList">
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.MealID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
