@model HealtyEats.Models.RecipeDetail

@{
    ViewBag.Title = "Details";
}




<div id="RecipeDetails">
    <h1>Details of your Recipe</h1>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.RecipeTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecipeTitle)
        </dd>

        <dt>
           @Html.DisplayNameFor(model => model.Link)
            
        </dt>

        <dd>
          <a href="@Html.DisplayFor(model => model.Link)" target="_blank">Click for Recipe</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Calories)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Calories)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dietary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dietary)
        </dd>

    </dl>
</div>
<div id="BackToList">
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RecipeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
    </div>
