@model HealthyEats.WebMVC.Data.RecipeType

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>RecipeType</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.TypeName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TypeName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Dietary)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Dietary)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Image)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Image)
            </dd>


        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.RecipeTypeID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
